@media (min-width: 1200px) {
  .container {
    width: 720px;
  }
}
@media (min-width: 922px) {
  .container {
    width: 720px;
  }
}

#heading {
    height: 75px;
     background-color: #ff950e;
}

body {
  font-family: "Trebuchet MS";
  line-height: 1.25em;
}
#subHeading {
   height: 50%;
   background-color: #ff950e;

}
#pageHeader{
  background-color: #666666;

}
.coloumSpace [class*='col-']:not(:first-child):not(:last-child) {
  padding-right:20px;
  padding-left:20px;
}
/* [class*='col-']>div {background-color:#ddd;} */

.coloumSpacesample [class*='col-']:not(:first-child):not(:last-child) {
  padding-right:20px;
  padding-left:20px;
}
.imagesize {
width: 120px;
}
p {
  font-size: 15px;
}